#include "windows.h"
#include "ntverp.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG // 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT // 0x40004L
 FILETYPE VFT_APP // 0x1L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "FileDescription", "Xclusive Utility\0"
            VALUE "CompanyName", "Roland Kaufmann\0"
            VALUE "FileVersion", "1.0.0\0"
            VALUE "InternalName", "xclusive\0"
            VALUE "LegalCopyright", "Copyright (C) 2012 Roland Kaufmann\0"
            VALUE "OriginalFilename", "xclusive.exe\0"
            VALUE "ProductName", "DskACL\0"
            VALUE "ProductVersion", "1.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
